.imgbox {
    display: flex;
    flex-flow: row nowrap;
    dl {
        position: fixed;
        left: 0px;
        width: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: column nowrap;
        dd {
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 0 50% 50% 0;
            padding: 0;
            margin: 0 0 10px 0;
            cursor: pointer;
            background: #ccc;
        }
    }
    aside {
        position: relative;
        background: #ccc;
        width: 20%;
        display: flex;
        height: 100vh;
        overflow: auto;
        padding: 0 0 0 24px;
        &.side {
            position: absolute;
            right: -20%;
        }
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex: auto;
        background: #2a3025;
        img {
            filter: invert(0);
        }
    }
}
.imgbox .title {
    font: bold 14px arial;
    padding: 10px 0;
}
.imgul {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.imgul img {
    border: 2px solid #ccc;
    display: block;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.imgul img[aria-selected='true'] {
    border: 2px solid #900;
}
