@font-face {
  font-family: "iconfont"; /* Project id 1512986 */
  src: url('iconfont.woff2?t=1635064347428') format('woff2'),
       url('iconfont.woff?t=1635064347428') format('woff'),
       url('iconfont.ttf?t=1635064347428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Userpersonalinform:before {
  content: "\e63a";
}

.icon-home:before {
  content: "\e61b";
}

.icon-my:before {
  content: "\e612";
}

.icon-find:before {
  content: "\e847";
}

.icon-upload:before {
  content: "\e613";
}

.icon-jin:before {
  content: "\e607";
}

.icon-shu:before {
  content: "\e608";
}

.icon-yuan:before {
  content: "\e610";
}

.icon-huai:before {
  content: "\e611";
}

.icon-21-08:before {
  content: "\e609";
}

.icon-21-07:before {
  content: "\e60a";
}

.icon-21-05:before {
  content: "\e60b";
}

.icon-21-06:before {
  content: "\e60c";
}

.icon-21-03:before {
  content: "\e60d";
}

.icon-21-04:before {
  content: "\e60e";
}

.icon-21-02:before {
  content: "\e60f";
}

.icon-b:before {
  content: "\e605";
}

.icon-c:before {
  content: "\e606";
}

.icon-a:before {
  content: "\e604";
}

.icon-weibiaoti-:before {
  content: "\e631";
}

.icon-icon-test:before {
  content: "\e600";
}

.icon-icon-test1:before {
  content: "\e601";
}

.icon-icon-test2:before {
  content: "\e602";
}

.icon-icon-test3:before {
  content: "\e603";
}

